
#Fondo{
    -fx-background-color: #2b2b2b;
}

#Labels{
    -fx-text-fill: #aaacae;
}

#Textfields{
    -fx-background-color: #3c3f41;
    -fx-border-color: #595b5d;
    -fx-text-fill: #aaacae;
    -fx-border-radius: 3px;
}

#Textfields:focused{
    -fx-background-color: #595b5d;
    -fx-border-color: #aaacae;
    -fx-text-fill: white;
}

#BotonGuardar{
    -fx-background-color: #118511;
    -fx-text-fill: white;
}

#BotonGuardar:hover{
    -fx-background-color: #7f8c40;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#BotonGuardar:pressed{
    -fx-background-color: gray;

}
#Boton_Modo{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-background-color: #2b2b2b;
    -fx-border-color: transparent;
    -fx-image-rendering: optimizeQuality;
    -fx-smooth: true;
    -fx-background-image: url('../assets/sun.png');
    -fx-background-size: 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#Boton_Modo:hover{
    -fx-background-color: #afaeae;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Boton_Modo:pressed{
    -fx-background-color: #595b5d;
}

#Buttons{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#Buttons:hover{
    -fx-background-color: #7f8c40;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Buttons:pressed{
    -fx-background-color: gray;
}

#BotonesBuscar{
    -fx-background-color: #118511;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-border-radius: 3px;
}

#BotonesBuscar:hover{
    -fx-background-color: #7f8c40;
    -fx-text-fill: black;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#comboBox {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-fill: red;
}

#comboBox .list-cell:selected {
    -fx-background-color:   #118511;
    -fx-text-fill: white;
}

#comboBox .list-cell:hover {
    -fx-background-color: #30cc30;
    -fx-text-fill: white;
}

#MenuItems {
    -fx-border-color: none;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

#MenuItems:hover{
    -fx-background-color: #30cc30;
    -fx-text-fill: white;
}

#BotonMenu{
    -fx-border-color: none;
    -fx-background-color: #2b2b2b;
}

#BotonMenu:pressed{
    -fx-background-color: gray;
}

#BtnPila{
    -fx-background-color: none;
    -fx-text-fill: white;
}

#BtnPila:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Listas{
    -fx-background-color: #118511;
    -fx-border-radius: none;
}

#Listas .list-cell:selected {
    -fx-background-color: transparent;
}

#Listas .list-cell:hover {
    -fx-background-color: transparent;
}

#Listas .list-cell:selected .cell {
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#Listas .list-cell:hover .cell {
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.ElementoLista:hover{
    -fx-background-color: #3db93d;
    -fx-border-color: transparent;
}

.LabelsLista{
    -fx-text-fill: white;
}

.Toggles{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
}

.Toggles:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.Toggles:pressed{
    -fx-background-color: #232425;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
}