
#Fondo{
    -fx-background-color: #2b2b2b;
}

#Labels{
    -fx-text-fill: #aaacae;
}

#Textfields{
    -fx-background-color: #3c3f41;
    -fx-border-color: #595b5d;
    -fx-text-fill: #aaacae;
    -fx-border-radius: 3px;
    -fx-font-family: "Roboto Light";
}

#Textfields:focused{
    -fx-background-color: #595b5d;
    -fx-border-color: #aaacae;
    -fx-text-fill: white;
}

#BotonGuardar{
    -fx-background-color: #118511;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

#BotonGuardar:hover{
    -fx-background-color: #7f8c40;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#BotonGuardar:pressed{
    -fx-background-color: gray;

}
#Boton_Modo{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-background-color: #2b2b2b;
    -fx-border-color: transparent;
    -fx-image-rendering: optimizeQuality;
    -fx-smooth: true;
    -fx-background-image: url('../assets/sun.png');
    -fx-background-size: 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#Boton_Modo:hover{
    -fx-background-color: #afaeae;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Boton_Modo:pressed{
    -fx-background-color: #595b5d;
}

#Buttons{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

#Buttons:hover{
    -fx-background-color: #7f8c40;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Buttons:pressed{
    -fx-background-color: gray;
}

#BotonesBuscar{
    -fx-background-color: #3c3f41;
    -fx-border-color: #595b5d;
    -fx-text-fill: #aaacae;
    -fx-border-radius: 3px;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

#BotonesBuscar:hover{
    -fx-background-color: #232425;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#comboBox {
    -fx-background-color: #232425;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
    -fx-cursor: hand;
    -fx-font-family: "Roboto Light";
    -fx-legend-visible: true;
}

#comboBox:focused {
    -fx-background-color: #595b5d;
    -fx-text-fill: #aaacae;
    -fx-border-color: black;
}

#comboBox .arrow-button {
    -fx-background-color: #595b5d;
    -fx-background-radius: 0;
}

#comboBox .arrow-button:hover {
    -fx-background-color: #aaacae;
}

#comboBox .arrow-button .arrow {
    -fx-background-color: black;
}

#comboBox .list-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #aaacae;
}

#comboBox .list-cell:selected {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
}

#comboBox .list-cell:hover {
    -fx-background-color: gray;
    -fx-text-fill: #aaacae;
}

#MenuItems {
    -fx-border-color: none;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#MenuItems:hover{
    -fx-background-color: #595b5d;
    -fx-text-fill: white;
}

#BotonMenu{
    -fx-border-color: none;
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

#BotonMenu:pressed{
    -fx-background-color: gray;
}

#BtnPila{
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#BtnPila:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.Toggles{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
    -fx-cursor: hand;
}

.Toggles:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.Toggles:pressed{
    -fx-background-color: #232425;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
}

#Listas{
    -fx-background-color: #2b2b2b;
    -fx-border-color: none;
    -fx-font-family: "Roboto Light";
}

.ElementoLista{
    -fx-background-color: none;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

.ElementoLista:hover{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

.ElementoLista:selected{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

#Listas .list-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

#Listas .list-cell:selected {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

#Listas .list-cell:hover {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

.list-view .scroll-bar:vertical {
    -fx-background-color:  #2b2b2b;
    -fx-background-radius: 5px;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #3c3f41;
    -fx-background-radius: 5px;
}

.list-view .scroll-bar:horizontal {
    -fx-background-color:  #2b2b2b;
    -fx-background-radius: 5px;
}

.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #3c3f41;
    -fx-background-radius: 5px;
}

.BotonClose{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.BotonClose:hover{
    -fx-background-color: gray;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.BotonDelete{
    -fx-background-color: #7d0707;
    -fx-text-fill: white;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

.BotonDelete:hover{
    -fx-background-color: #7d0707;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.BotonEditar{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

.BotonEditar:hover{
    -fx-background-color: #3c3f41;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.BotonSolicitar{
    -fx-background-color: #3c3f41;
    -fx-text-fill: #aaacae;
    -fx-border-color: #595b5d;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

.BotonSolicitar:hover{
    -fx-background-color: #3c3f41;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#TextAreaField {
    -fx-control-inner-background: #3c3f41;
    -fx-border-color: #595b5d;
    -fx-text-fill: #aaacae;
    -fx-prompt-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
    -fx-cursor: hand;
}

#Separator {
    -fx-background-color: #aaacae;
    -fx-border-color: none;
}

.Radios{
    -fx-text-fill: #aaacae;
    -fx-cursor: hand;
}

.Radios .radio-button .radio{
    -fx-background-color: #3c3f41;
    -fx-border-color: #595b5d;
}

.label{
    -fx-text-fill: #aaacae;
}

.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.date-picker .text-field {
    -fx-background-color: #3c3f41;
    -fx-border-color: #595b5d;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

.date-picker .arrow-button {
    -fx-background-color: #595b5d;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: #aaacae;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: black;
}
.date-picker .cell {
    -fx-background-color: #3c3f41;
}
.date-picker .cell:hover {
    -fx-background-color: gray;
}
.date-picker .cell:focused {
    -fx-background-color: gray;
}
.date-picker .selected {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #aaacae;
}
.date-picker .selected:focused {
    -fx-background-color: gray;
    -fx-text-fill: #aaacae;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: #3c3f41;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: #aaacae;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: #aaacae;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #3c3f41;
}

.progress-indicator:indeterminate .segment {
    -fx-background-color: white;
}

.ElementoListaRojo{
    -fx-background-color: #7d0707;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

.ElementoListaRojo:hover{
    -fx-background-color: gray;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}

.ElementoListaRojo:selected{
    -fx-background-color: #c70a0a;
    -fx-text-fill: #aaacae;
    -fx-font-family: "Roboto Light";
}


