#Fondo{
    -fx-background-color: white;
}

#Boton{
    -fx-background-color: white;
    -fx-border-color: #18e6ce;
    -fx-border-width: 0.7;
    -fx-border-radius: 0.6;
}

#Boton:hover{
    -fx-background-color: gray;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#BotonGuardar{
    -fx-background-color: white;
    -fx-border-color: green;
    -fx-border-width: 0.7;
    -fx-border-radius: 0.6;
}

#BotonGuardar:hover{
    -fx-background-color: gray;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}