
#Fondo{
    -fx-background-color: white;
}
#Imagen1{
    -fx-image-rendering: optimizeQuality;

}
#Labels{
    -fx-text-fill:  black;
}

#Textfields{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-radius: 3px;

}

#Textfields:focused{
    -fx-background-color: #f3f3f3;
    -fx-border-color: black;
    -fx-text-fill: black;
}

#BotonGuardar{
    -fx-background-color: #118511;
    -fx-text-fill: white;
}

#BotonGuardar:hover{
    -fx-background-color: #7f8c40;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#BotonGuardar:pressed{
    -fx-background-color: gray;
}
#Boton_Modo{
    -fx-background-radius: 50;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-border-radius: 50;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-image-rendering: optimizeQuality;
    -fx-smooth: true;
    -fx-background-image: url('../assets/moon.png');
    -fx-background-size: 70% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#Boton_Modo:hover{
    -fx-background-color: #f3f3f3;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#Boton_Modo:pressed{
    -fx-background-color: #afaeae;
}